:root {
    /* custom colors */
    --white: rgb(255, 255, 255);
    /* gray color spectrum */
    --gray-300: rgb(209 213 219);
    --gray-400: rgb(156 163 175);
    --gray-500: rgb(107 114 128);
    --gray-600: rgb(75 85 99);
    --gray-700: rgb(55 65 81);
    --gray-800: rgb(31 41 55);

    /* blue color spectrum */
    --blue-400: rgb(96 165 250);
    --blue-500: rgb(59 130 246);
    --blue-600: rgb(37 99 235);
    --blue-700: rgb(29 78 216);
    --blue-800: rgb(30 64 175);

    /* red color spectrum */
    --red-300: rgb(252 165 165);
    --red-400: rgb(248 113 113);
    --red-500: rgb(239 68 68);
    --red-600: rgb(220 38 38);

    --circleSize: 8rem;
    --radius: 100px;
    --shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
    --fontColor: rgb(250, 250, 250);
}

.direction-ltr {
    direction: ltr;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.section-heading {
    color: var(--gray-600);
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0 0 1rem 1rem;
}

/* custom form control onfocus */
.custom-focus:focus {
    border: solid .08rem var(--blue-500);
    box-shadow: none;
}

.form-control-lg {
    font-size: 1.2rem;
}

.form-control {
    color: var(--gray-600);
    border: solid 1px var(--gray-400);
    background: var(--white);
}

.form-control::placeholder {
    color: var(--gray-400);
    font-weight: 100 !important;
}

@media screen and (min-width: 768px) {
    .custom-input-size {
        font-size: 1.3rem;
    }
}

.active {
    background: #f8f9fa;
    color: #1b68ff !important;
}

/* custom file input */
.form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    border-radius: .3rem;
    box-shadow: 0 0 5px solid var(--gray-300);
}

.form-control-file:hover .form-control-file:before {
    border-style: solid;
    box-shadow: inset 0px 0px 0px 0.25em var(--gray-300);
}

.form-control-file:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 6em;
    line-height: 2em;
    padding-top: 1.5em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    border: 0.19em dashed var(--gray-300);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: visible;
}

/* define errors class */
.error-text {
    font-size: .7rem;
    font-weight: bold;
    color: var(--red-500);
}

.form-control.is-invalid:focus {
    border: solid .08rem var(--red-600);
    box-shadow: none;
}

.error-input::placeholder {
    color: var(--red-300);
}

.input-title {
    font-size: .7rem;
    font-weight: bold;
    color: var(--gray-400);
}

.card-dropdown-button {
    cursor: pointer;
}

.url {
    direction: ltr;
}

.form-control::placeholder {
    text-align: right !important;
}

/* customize tagify */
.tagify--outside {
    border: 0;
}

.tagify--outside .tagify__input {
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: .1s;
}

.tagify--outside .tagify__input:hover {
    border-color: var(--tags-hover-border-color);
}

.tagify--outside.tagify--focus .tagify__input {
    transition: 0s;
    border-color: var(--tags-focus-border-color);
}

.tagify__tag-text {
    font-size: .8rem;
}

/* personalization of small parts */
.slug {
    direction: ltr;
    text-align: left;
    font-weight: 500;
    color: var(--gray-600);
}

.caret-up {
    transform: rotate(180deg);
}

/* customize notify */
.notify__close {
    position: absolute;
    left: 1rem;
    right: unset;
}

.notify__title {
    padding-right: 1rem;
}

.notify__text {
    padding-right: 1rem;
}

.notify {
    font-family: 'vazir';
}

.profile_image {
    width: 2.4rem !important;
    height: 2.4rem;
    border-radius: 50%;
    object-fit: cover;
    transition: all .1s ease-in;
}

.profile_image:hover {
    border: solid 2px gray;
}

.profile-pic {
    color: transparent;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-pic input {
    display: none;
}

.profile-pic .-label {
    transition: all .4s ease-in-out;
    cursor: pointer;
    border-radius: var(--radius);
    z-index: 1000;
    height: var(--circleSize);
    width: var(--circleSize);
}

.profile-pic .-label:hover {
    background-color: rgba(0, 0, 0);
    opacity: 50%;
    z-index: 10000;
    color: var(--fontColor);
    transition: var(--background-color) .1s ease-in;
    border-radius: var(--radius);
}

.profile-pic span {
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
    padding: .2em;
    height: 2em;
}

.profile-pic img {
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
    width: var(--circleSize);
    height: var(--circleSize);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    z-index: 0;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}


.slider_image:hover {
    border: solid 2px gray;
}

.slider-pic {
    color: transparent;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider-pic input {
    display: none;
}

.slider-pic .-label {
    transition: all .4s ease-in-out;
    cursor: pointer;
    z-index: 1000;
    height: 22rem;
    width: 100%;
}

.slider-pic .-label:hover {
    background-color: rgba(0, 0, 0);
    opacity: 50%;
    z-index: 10000;
    color: var(--fontColor);
    transition: var(--background-color) .1s ease-in;
    border-radius: 1rem;
}

.slider-pic span {
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
    padding: .2em;
    height: 2em;
}

.slider-pic img {
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 22rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    z-index: 0;
    border: dashed .4rem #ccc;
}

.btn-indigo {
    color: #fff;
    background-color: rgb(79 70 229);;
    border-color: rgb(79 70 229);;
    letter-spacing: 0.05em;
    border-radius: .2rem;
}

.btn-indigo:hover,
.btn-indigo:active,
.btn-indigo:focus,
.btn-indigo.active {
  /* let's darken #004E64 a bit for hover effect */
  background: rgb(67 56 202);
  color: #ffffff;
  border-color: rgb(67 56 202);
}