@font-face {
    font-family: yekan;
    src: url("../fonts/Yekan/Yekan.eot");
    src: url("../fonts/Yekan/Yekan.eot?#iefix") format("embedded-opentype"), url("../fonts/Yekan/Yekan.woff") format("woff"), url("../fonts/Yekan/Yekan.ttf") format("truetype")
}

@font-face {
    font-family: iransans;
    src: url("..//fonts/iransans/IRANSansWeb.eot");
    src: url("../fonts/iransans/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/iransans/IRANSansWeb.woff") format("woff"), url("../fonts/iransans/IRANSansWeb.ttf") format("truetype")
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../../assets/fonts/vazir/Vazirmatn-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../../assets/fonts/vazir/Vazirmatn-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../../assets/fonts/vazir/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../../assets/fonts/vazir/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../../assets/fonts/vazir/Vazirmatn-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../../assets/fonts/vazir/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../../assets/fonts/vazir/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../../assets/fonts/vazir/Vazirmatn-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../../assets/fonts/vazir/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: yekan;
    src: url('./../../assets/fonts/yekan/Yekan.woff') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../fonts/vazir/Vazirmatn-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../fonts/vazir/Vazirmatn-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../fonts/vazir/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../fonts/vazir/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../fonts/vazir/Vazirmatn-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../fonts/vazir/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../fonts/vazir/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../fonts/vazir/Vazirmatn-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Vazirmatn;
    src: url('./../fonts/vazir/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: yekan;
    src: url('./../fonts/yekan/Yekan.woff') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/shabnam/Shabnam.eot');
    src: url('../fonts/shabnam/Shabnam.eot?#iefix') format('embedded-opentype'), url('../fonts/shabnam/Shabnam.woff2') format('woff2'), url('../fonts/shabnam/Shabnam.woff') format('woff'), url('../fonts/shabnam/Shabnam.ttf') format('truetype');
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/shabnam/Shabnam-Bold.eot');
    src: url('../fonts/shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/shabnam/Shabnam-Bold.woff2') format('woff2'), url('../fonts/shabnam/Shabnam-Bold.woff') format('woff'), url('../fonts/shabnam/Shabnam-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap
}

@font-face {
    font-family: Shabnam;
    src: url('../fonts/shabnam/Shabnam-Thin.eot');
    src: url('../fonts/shabnam/Shabnam-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/shabnam/Shabnam-Thin.woff2') format('woff2'), url('../fonts/shabnam/Shabnam-Thin.woff') format('woff'), url('../fonts/shabnam/Shabnam-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap
}

@font-face {
    font-family: Shabnam;
    src: url('Shabnam-Light.eot');
    src: url('Shabnam-Light.eot?#iefix') format('embedded-opentype'), url('Shabnam-Light.woff2') format('woff2'), url('Shabnam-Light.woff') format('woff'), url('Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap
}

@font-face {
    font-family: Shabnam;
    src: url('Shabnam-Medium.eot');
    src: url('Shabnam-Medium.eot?#iefix') format('embedded-opentype'), url('Shabnam-Medium.woff2') format('woff2'), url('Shabnam-Medium.woff') format('woff'), url('Shabnam-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap
}